<div class="container">
    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="coupons" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Coupon ID</th>
                    <td mat-cell *matCellDef="let coupon">{{coupon.id}}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let coupon">{{coupon.name}}</td>
                </ng-container>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>Code</th>
                    <td mat-cell *matCellDef="let coupon">{{coupon.code}}</td>
                </ng-container>
                <ng-container matColumnDef="discount">
                    <th mat-header-cell *matHeaderCellDef>Discount</th>
                    <td mat-cell *matCellDef="let coupon">{{coupon.discount}}%</td>
                </ng-container>
                <ng-container matColumnDef="expirationDate">
                    <th mat-header-cell *matHeaderCellDef>Expiry</th>
                    <td mat-cell *matCellDef="let coupon">{{coupon.expirationDate | date: 'dd/MM/yyyy'}}</td>
                </ng-container>
                
                <!-- Header row information -->
                <tr mat-header-row *matHeaderRowDef="['id', 'name', 'discount', 'code', 'expirationDate']"></tr>
                <!-- Logic for populating each row -->
                <tr mat-row *matRowDef="let row; columns : ['id', 'name', 'discount', 'code', 'expirationDate']"></tr>

            </table>
        </mat-card-content>
    </mat-card>
</div>
