

.navbar{
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.navbar-brand{
    font-size: 1em;
    font-weight: bold;
    margin-right: 1em;
}

.spacer{
    flex: 1;
}

button{
    color: white;
    text-transform: uppercase;
    margin-left: 0.5em;
}

button.active{
    font-weight: bold;
}

.custom-toolbar{
    background-color: red;
}

mat-toolbar{
    background-color: rgb(72, 162, 231);
}